.footer {
  border-top: 0.0625rem solid #e7e7e7;
  background-color: #191919;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 3.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.footerContent {
  margin: auto;
  width: 9.375rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.footer a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
